<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <!--Jumbotron-->
  <div class = "jumbotron text-center">
    <h1>Mars News and Data</h1>
    <br>
    <button type="button" class="btn btn-primary"><a href = "/scrape">Scrape New Data</a></button>
  </div> <!--Jumbotron-->

  <div class="row">
    <div class="col-md-12" align="left">
      <h1>Latest Mars News</h1>
      <p>{{variable}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="left">
      <h1>Featured Mars Image</h1>
      <p>{{variable}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="left">
      <h1>Current Weather on Mars</h1>
      <p>{{variable}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="left">
      <h1>Facts About Mars</h1>
      <p>{{variable}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="Center">
      <h1>Mars' Hemispheres</h1>
      <p>{{variable}}</p>
    </div>
  </div>

</div> <!--Container-->
  
</body>
</html>