<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <!--Jumbotron-->
  <div class = "jumbotron text-center">
    <h1>Mars News and Data</h1>
    <br>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
  </div> <!--Jumbotron-->

  <div class="row">
    <div class="col-md-12" align="left">
      <h2>Latest Mars News</h2>
      <h3>{{ news_data.header }}</h3>
      <p>{{ news_data.paragraph }}</p> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="left">
      <h2>Featured Mars Image</h2>
      <h3>{{ featured_data.header }}</h3>
    </div>
    <div class="col-md-12" align="left">
      <img src = {{ featured_data.img_url }} style = "width: 25%; height: 25%">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="left">
      <h2>Current Weather on Mars</h2>
      <p>{{ weather_data.paragraph }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="left">
      <h2>Facts About Mars</h2>
      <p>{{ facts_data.table }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" align="Center">
      <h2>Mars' Hemispheres</h2>
    </div>
    <div class="col-md-6" align="Center">
        <h3>{{ hemi1_data.title }}</h3>
        <img src = {{ hemi1_data.img_url }} style = "width: 50%; height: 50%">
    </div>
    <div class="col-md-6" align="Center">
      <h3>{{ hemi2_data.title }}</h3>
      <img src = {{ hemi2_data.img_url }} style = "width: 50%; height: 50%">
    </div>
    <br>
    <div class="col-md-6" align="Center">
      <h3>{{ hemi3_data.title }}</h3>
      <img src = {{ hemi3_data.img_url }} style = "width: 50%; height: 50%">
    </div>
    <div class="col-md-6" align="Center">
      <h3>{{ hemi4_data.title }}</h3>
      <img src = {{ hemi4_data.img_url }} style = "width: 50%; height: 50%">
    </div>
  </div> 
      
</div> <!--Container-->
  
</body>
</html>